<div class="container text-center">


    <button type="button" onclick="location.href = '@Url.Action("TcVatandas","Home")'"> Tc Vatandaş Doğrulama </button>

    <button type="button" onclick="location.href = '@Url.Action("Yabanci","Home")'"> Yabanci Kimlik Doğrulama </button>

</div>